services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    environment:
      - DOMAIN=https://{{ wp_domain }}/secrets
      - SIGNUPS_ALLOWED=true
      - WEBSOCKET_ENABLED=true
{% if vaultwarden_admin_token | default('') | length > 0 %}
      - ADMIN_TOKEN={{ vaultwarden_admin_token }}
{% endif %}
    ports:
      - "127.0.0.1:8080:80"
    volumes:
      - /opt/vaultwarden/data:/data
