[DEFAULT]
bantime = 1h
findtime = 10m
maxretry = 3
ignoreip = 127.0.0.1/8 ::1 {{ ansible_host }}

[sshd]
enabled = true
port = ssh
filter = sshd
logpath = /var/log/auth.log

[wordpress-login]
enabled = true
port = http,https
filter = wordpress-login
logpath = /var/log/apache2/access.log
maxretry = 5
findtime = 5m
bantime = 30m
