# Terraform bestanden
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Gevoelige variabelebestanden
*.auto.tfvars
secret.tfvars


.venv/

# logs
*.log
logs/

vault.yml