# Ansible config voor Semaphore (draait vanuit repo root)
[defaults]
roles_path = configuration_management/roles
host_key_checking = False
callback_result_format = yaml
callbacks_enabled = profile_tasks, timer
pipelining = True
