ProxyPreserveHost On
RequestHeader set X-Forwarded-Proto "https"

ProxyPass        {{ os_npe_proxy_path | default('/os-npe-2526/') }} http://127.0.0.1:8082/
ProxyPassReverse {{ os_npe_proxy_path | default('/os-npe-2526/') }} http://127.0.0.1:8082/
{% if os_npe_proxy_path | default('/os-npe-2526/') != '/' %}

# Trailing-slash redirect (works for the browser, hopefully also for https://os-npetester.vichogent.be/)
RedirectMatch 301 ^{{ os_npe_proxy_path | default('/os-npe-2526/') | regex_replace('/$', '') }}$ {{ os_npe_proxy_path | default('/os-npe-2526/') }}
{% endif %}
