{% extends "base.html" %}

{% block title %}Inloggen{% endblock %}

{% block nav %}
<div class="term-nav">
    <span>DEPLOYER  Aanmelden</span>
    <span>Groep 99</span>
</div>
{% endblock %}

{% block content %}
<div style="max-width: 50ch; margin: 80px auto;">
    <h1>AANMELDEN BIJ DEPLOYER</h1>
    <hr class="divider">

    {% if let Some(msg) = error %}
    <div class="msg-error">FOUT: {{ msg }}</div>
    {% endif %}

    <form method="POST" action="{{ base }}/login">
        <div class="form-group">
            <label for="username">Gebruikersnaam . . .</label>
            <input type="text" id="username" name="username" required autofocus>
        </div>

        <div class="form-group">
            <label for="password">Wachtwoord . . . . .</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="mt">
            <button type="submit" class="btn btn-primary">Enter = Inloggen</button>
        </div>
    </form>
</div>
{% endblock %}
{% endblock %}
